.profile {
    width: 50%;
    border: 2px solid black;
    padding: 20px 0 20px 0;
    border-radius: 8px;
}
.imgPhoto {
    width: 30%;
}
.statsList{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px;
    margin: 0;
}
.itemStats{
    display: flex;
    flex-direction: column;
}
